@import 'reset';
@import './vars';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
}

.heading {
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	text-align: left;
}

.icon {
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}

.info {
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
}
